:root {
    font-family: system-ui, sans-serif;
}

html,
body,
#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background: #0f1115;
    color: #e6e6e6;
}

header {
    padding: 12px 16px;
    background: #151823;
    display: flex;
    gap: 12px;
    align-items: center;
}

header input {
    padding: 6px 8px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #0f1115;
    color: #eee;
}

header button {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #1c2030;
    color: #eee;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: calc(100vh - 52px);
}

aside {
    border-right: 1px solid #222;
    overflow: auto;
}

aside h3 {
    margin: 12px 12px 6px;
    font-size: 14px;
    color: #9fa6b2;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user,
.typingUser {
    padding: 8px 12px;
    border-bottom: 1px solid #222;
    font-size: 14px;
}

.typingUser small {
    color: #9fa6b2;
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.msgs {
    flex: 1;
    overflow: auto;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.msg {
    background: #151823;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px 12px;
    max-width: 70ch;
}

.meta {
    font-size: 12px;
    color: #9fa6b2;
    margin-bottom: 4px;
}

.form {
    display: flex;
    gap: 8px;
    padding: 12px;
    border-top: 1px solid #222;
    justify-content: center;
    align-items: center;
}

textarea {
    flex: 1;
    resize: none;
    height: 48px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #0f1115;
    color: #eee;
    min-width: 75%;
}

button[type="submit"] {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #1c2030;
    color: #eee;
    cursor: pointer;
}
button[type="button"] {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #333;
    width: 3rem;
    height: 3rem;
    background: #1c2030;
    color: #eee;
    cursor: pointer;
}
.me {
    border-color: #2a5;
}